<header>
    <ul>
        <li style="list-style: none"><a href="/">Home</a></li>
        <li style="list-style: none"><a href="about">About</a></li>
        <li style="list-style: none"><a href="projects">Projects</a></li>
    </ul>
</header>